# General
dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# component-lib
components.d.ts

# stencil-generated
**/stencil-generated/

# Generated icon components (maintain original formatting)
packages/ontario-design-system-component-library/src/components/ontario-icon/ontario-icon-*.tsx

# component-lib-react
createComponent.tsx
interfaces.ts
**/src/components.ts
**/src/components/components.ts
**/src/components/components.server.ts
**/utils/attachProps.ts
**/utils/index.tsx
**/utils/case.ts
**/utils/dev.ts


# Nx
/.nx/workspace-data
