/*
*  Global mixins
*  Used across multiple components
*/

@mixin ontario-word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin ontario-two-column-lists() {
  column-count: $ontario-grid-columns-column-count-1;
  display: block;
  margin: 0;

  @media screen and (min-width: $small-breakpoint) {
      column-count: $ontario-grid-columns-column-count-2;

      li:last-child {
          padding: 0 0 $spacing-3 0;
      }
  }
}
