@forward '@ongov/ontario-design-system-component-library-angular/dist/component-library/styles/theme.scss';

.ontario-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: 100vh;
}

.ontario-footer-wrapper {
	margin-top: auto;
}

::ng-deep ontario-button {
	outline: none;
}
