.ontario-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: 100vh;
}

.ontario-footer {
	margin-top: auto;
}

main {
	align-self: stretch;
	height: 100%;
	flex: 1;
}

::ng-deep ontario-button {
	outline: none;
}
