@use 'pkg:@ongov/ontario-design-system-global-styles/styles/scss/1-variables/spacing.variables' as spacing;
@use 'pkg:@ongov/ontario-design-system-global-styles/styles/scss/1-variables/fonts.variables' as fonts;
@use 'pkg:@ongov/ontario-design-system-global-styles/styles/scss/1-variables/font-weights.variables' as fontWeights;
@use 'pkg:@ongov/ontario-design-system-global-styles/styles/scss/2-tools/functions/global.functions' as globalFunctions;

:host {
	display: list-item;
	list-style-type: disc;
	padding-bottom: spacing.$spacing-4 + globalFunctions.px-to-rem(4);
	padding-left: spacing.$spacing-0;
}

:host(:last-child) {
	padding-bottom: spacing.$spacing-0;
}

.ontario-in-page-navigation-item__link {
	font-family: fonts.$ontario-font-open-sans;
	font-size: globalFunctions.px-to-rem(18);
	line-height: globalFunctions.px-to-rem(25.6);
	font-weight: fontWeights.$ontario-font-weights-semi-bold;
	font-style: normal;
	margin-left: spacing.$spacing-0;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
