@import '~@ontario-digital-service/ontario-design-system-global-styles/dist/styles/scss/theme';

.button-page {
	margin: 2rem 0;
}

.button-preview {
	margin-top: 1.5rem;
	padding: rem-calc(24) rem-calc(24) 0 rem-calc(24);
	background-color: $ontario-greyscale-5;
}


