@import '~@ontario-digital-service/ontario-design-system-global-styles/dist/styles/scss/theme';

.button-page {
	margin: 2rem 0;
}

.preview-container {
	margin: 1.5rem 0;
}

.button-preview {
	padding: rem-calc(24) rem-calc(24) 0 rem-calc(24);
	background-color: $ontario-greyscale-5;
	margin: 2rem 0;
}

.previewNav {
	margin: 0;
	background-color: $ontario-greyscale-5;
	button {
		background-color: $ontario-greyscale-20;
		border: none;
		padding: 15px 32px;
		text-align: center;

		font-size: 1.125rem;
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: 600;

		width: calc(100% / 3);

		&.on {
			background-color: #dadada;
			border-bottom: 2px solid;
		}
		&:hover.on {
			background-color: #e8e8e8;
			border-bottom: 2px solid lightgrey;
		}
		&:hover.off {
			background-color: #a7a7a7;
		}
	}
}

.code-preview {
	background-color: 	$ontario-greyscale-70;
	padding: 15px 32px;
	margin: 2rem 0;
	color: white;
}

.previewNavContent--HTML,
.previewNavContent--SCSS,
.previewNavContent--C-CSS {
	background-color: #dadada;
	margin: 0;
	padding: 1.5rem;
}

hr {
	border-bottom: 4px solid #ccc;

	margin: 2.5rem 0;
}
