@import '~@ontario-digital-service/ontario-design-system-global-styles/dist/styles/scss/theme';

.button-page {
    margin: 2rem 0;
}

.button-preview {
    background-color: $ontario-greyscale-5;
    margin: 1.5rem 0 2.5rem 0;
    padding: 2rem 0;
}