@use '../../../node_modules/@ontario-digital-service/ontario-design-system-global-styles/dist/styles/scss/1-variables/letter-spacing.variables' as letterSpacing;
@import '../../global.scss';

/**
 * The following variables are defined per design specifications and
 * deviated from currently available tokens and related variations.
 */
//
$default-label-line-height: $line-height-default; // 1.5
$default-label-line-height-mobile: 1.56;
$default-label-font-size: 1.1875rem;
$default-label-font-size-mobile: 1.125rem;
$large-label-line-height: 1.2;
$large-label-line-height-mobile: 1.39;
$large-label-font-size: 1.75rem;
$large-label-font-size-mobile: 1.4375rem;

.ontario-fieldset__legend,
.ontario-label {
	cursor: pointer;
	color: $ontario-colour-black;
	font-family: $ontario-font-raleway-modified;
	font-size: $default-label-font-size; // 1.1875rem
	font-weight: $ontario-font-weights-bold; // 700
	line-height: $default-label-line-height; // 1.5
	margin: 0 0 $spacing-4 0;
	max-width: $narrow-width; // 38.75em
	white-space: normal;
	width: $full-width; // 100%

	@media screen and (max-width: $small-breakpoint) {
		font-size: $default-label-font-size-mobile; // 1.125rem
		line-height: $default-label-line-height-mobile; // 1.56
	}
}

.ontario-fieldset__legend--large,
.ontario-label--large {
	font-size: $large-label-font-size; // 1.75rem
	letter-spacing: letterSpacing.$ontario-letter-spacing-xsmall; // 0.02rem
	line-height: $large-label-line-height; // 1.2
	max-width: $narrower-width; // 26.25em

	@media screen and (max-width: $small-breakpoint) {
		font-size: $large-label-font-size-mobile; // 1.4375rem
		line-height: $large-label-line-height-mobile; // 1.39
	}
}

.ontario-fieldset__legend--heading > h1,
h1 > .ontario-label--heading {
	display: inline-block;
	margin: $spacing-0;
	@extend %h1-styles;
}

.ontario-label__flag {
	font-family: $ontario-font-open-sans;
	font-size: $ontario-font-size-standard-body-text; // 16px or 1rem
	font-weight: $ontario-font-weights-normal; // 400

	&:before {
		content: '\a0';
	}
}
