@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/global.variables' as globalVariables;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/spacing.variables' as spacing;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/colours.variables' as colours;

// callouts + asides
ontario-aside *,
ontario-callout * {
	max-width: globalVariables.$standard-width;

	&:last-of-type {
		margin-bottom: spacing.$spacing-2;
	}
}

// page alerts
ontario-page-alert {
	p {
		margin-top: spacing.$spacing-0;

		&:last-of-type {
			margin-bottom: spacing.$spacing-2;
		}

		&:last-of-type + ul {
			margin-top: spacing.$spacing-4;
		}
	}

	ul:last-of-type {
		margin-bottom: spacing.$spacing-2;
	}
}

ontario-page-alert[type='error'] {
	ul {
		margin-left: (spacing.$spacing-2 + spacing.$spacing-4);

		&:last-of-type {
			margin-bottom: spacing.$spacing-2;
		}
	}

	a {
		color: colours.$ontario-colour-alert;

		&:hover,
		&:focus {
			color: #6b0000;
		}

		&:active {
			color: #280000;
		}
	}
}
