@use '../../global.scss';

$ontario-alert-link-focus: #6b0000;
$ontario-alert-link-active: #280000;

.ontario-alert {
	border-width: 0 0 0 global.rem-calc(4);
	border-style: solid;
	padding: global.$spacing-5;
	margin: global.$spacing-6 0 global.$spacing-7 0;
}

.ontario-alert__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.ontario-alert__header-icon {
	display: inline-block;
	vertical-align: top;
	margin-right: 0.95rem;
}

.ontario-alert__header-title {
	margin-bottom:global.$spacing-3;
	padding-top: global.rem-calc(2);
}

.ontario-alert__body {
	margin-left: 3.25rem;
	max-width: global.$standard-width;

	@media screen and (max-width: global.$small-breakpoint) {
		margin-left: 0;
	}
}

.ontario-alert__body p {
	margin-top: global.$spacing-0;

	&:last-of-type {
		margin-bottom: global.$spacing-2;
	}
}

.ontario-alert__body p:last-of-type + ul {
	margin-top: global.$spacing-4;
}

.ontario-alert__body ul:last-of-type {
	margin-bottom: global.$spacing-2;
}

.ontario-alert--error ul {
	margin-left: 1.25rem;
}

.ontario-alert--error ul:last-of-type {
	margin-bottom: global.$spacing-2;
}

// ---------------------
//    Alert variations
// ---------------------
// informational alert
.ontario-alert--informational {
	border-color: global.$ontario-colour-information;
	background-color: global.$ontario-colour-information-light;
}

// warning alert
.ontario-alert--warning {
	border-color: global.$ontario-colour-warning;
	background-color: global.$ontario-colour-warning-light;
}

// success alert
.ontario-alert--success {
	border-color: global.$ontario-colour-success;
	background-color: global.$ontario-colour-success-light;
}

// error alert
.ontario-alert--error {
	border-color: global.$ontario-colour-alert;
	background-color: global.$ontario-colour-alert-light;
}

.ontario-alert--error a {
	color: global.$ontario-colour-alert;

	&:hover,
	&:focus {
		color: $ontario-alert-link-focus;
	}

	&:active {
		color: $ontario-alert-link-active;
	}
}
