@use 'pkg:@ongov/ontario-design-system-global-styles/styles/scss/1-variables/spacing.variables' as spacing;
@use 'pkg:@ongov/ontario-design-system-global-styles/styles/scss/1-variables/colours.variables' as colours;

$ontario-page-alert__error-link--hover: #6b0000;
$ontario-page-alert__error-link--active: #280000;

ontario-page-alert {
	p {
		margin-top: spacing.$spacing-0;

		&:last-of-type {
			margin-bottom: spacing.$spacing-2;
		}

		&:last-of-type + ul {
			margin-top: spacing.$spacing-4;
		}
	}

	ul:last-of-type {
		margin-bottom: spacing.$spacing-2;
	}
}

ontario-page-alert[type='error'] {
	ul {
		margin-left: (spacing.$spacing-2 + spacing.$spacing-4);

		&:last-of-type {
			margin-bottom: spacing.$spacing-2;
		}
	}

	a {
		color: colours.$ontario-colour-alert;

		&:hover,
		&:focus {
			color: $ontario-page-alert__error-link--hover;
		}

		&:active {
			color: $ontario-page-alert__error-link--active;
		}
	}
}
