@forward '~@ontario-digital-service/ontario-design-system-global-styles/dist/styles/scss/theme';

$ontario-100vh: 100vh;

.App {
	min-height: $ontario-100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content-layout {
	display: grid;
	height: $ontario-100vh;
	grid-template-areas:
		'header header header header'
		'content content content content'
		'footer footer footer footer';
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
}

.content-layout > .main-content {
	grid-area: content;
}

.content-layout > .footer {
	grid-area: footer;
}
