@use '../2-tools/mixins/grid.mixins' as *;
@use '../1-variables/grid.variables';

@include ontario-exports("grid") {
  .ontario-row {
      @include ontario-grid-row;

      &.ontario-row--collapse {
          > .ontario-column,
          > .ontario-columns {
              @include ontario-grid-column(
                  $collapse:true,
                  $float:false
              );
          }

          .ontario-row {
              margin-left:0;
              margin-right:0;
          }
      }

      .ontario-row {
          @include ontario-grid-row(
              $behaviour:nest
          );

          &.ontario-row--collapse {
              @include ontario-grid-row(
                  $behaviour:nest-collapse
              );
          }
      }
  }

  .ontario-column,
  .ontario-columns {
      @include ontario-grid-column(
          $columns:grid.$total-columns
      );

      & + &:last-child {
          float: grid.$last-child-float;
      };

      & + &.ontario-end {
          float: grid.$default-float;
      };
  }

  @media #{grid.$small-up} {
      @include ontario-grid-html-classes(
          $size:small
      );
  }

  @media #{grid.$medium-up} {
      @include ontario-grid-html-classes(
          $size:medium
      );
  }

  @media #{grid.$large-up} {
      @include ontario-grid-html-classes(
          $size:large
      );

      @for $i from 0 through grid.$total-columns - 1 {
          .ontario-push-#{$i} {
              @include ontario-grid-column(
                  $push:$i,
                  $collapse:null,
                  $float:false
              );
          }

          .ontario-pull-#{$i} {
              @include ontario-grid-column(
                  $pull:$i,
                  $collapse:null,
                  $float:false
              );
          }
      }
  }

  @media #{grid.$xlarge-up} {
      @include ontario-grid-html-classes(
          $size:xlarge
      );
  }

  @media #{grid.$xxlarge-up} {
      @include ontario-grid-html-classes(
          $size:xxlarge
      );
  }
}
