@use './font-weights.variables' as fontWeights;
@use './spacing.variables' as spacing;
@use './global.variables' as global;
@use './breakpoints.variables' as breakpoints;

/* -------------------------------
    Global typography variables
--------------------------------- */

$ontario-font-open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ontario-font-raleway-modified: 'Raleway', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ontario-font-weight-normal: fontWeights.$ontario-font-weights-normal;
$ontario-font-weight-semi-bold: fontWeights.$ontario-font-weights-semi-bold;
$ontario-font-weight-bold: fontWeights.$ontario-font-weights-bold;

%ontario-header-styles {
	font-style: normal;
	font-weight: fontWeights.$ontario-font-weights-bold;
	text-rendering: optimizeLegibility;
	margin-bottom: spacing.$spacing-4;
	font-feature-settings: normal;
	font-family: $ontario-font-raleway-modified;
}

%h1-styles {
	@extend %ontario-header-styles;
	font-size: rem-calc(32);
	letter-spacing: 0.04rem;
	line-height: 1.29;
	margin: spacing.$spacing-7 spacing.$spacing-0 spacing.$spacing-5 spacing.$spacing-0;

	@media screen and (min-width: breakpoints.$small-breakpoint) {
		font-size: rem-calc(40);
		letter-spacing: 0.04rem;
		line-height: 1.2;
	}
}

%h2-styles {
	@extend %ontario-header-styles;
	font-size: rem-calc(27);
	letter-spacing: 0.03rem;
	line-height: 1.37;
	margin: spacing.$spacing-0 spacing.$spacing-0 spacing.$spacing-3 spacing.$spacing-0;

	@media screen and (min-width: breakpoints.$small-breakpoint) {
		font-size: rem-calc(33);
		letter-spacing: 0.02rem;
		line-height: 1.33;
	}
}

%h3-styles {
	@extend %ontario-header-styles;
	font-size: rem-calc(23);
	letter-spacing: 0.02rem;
	line-height: 1.39;
	margin: spacing.$spacing-0 spacing.$spacing-0 spacing.$spacing-3 spacing.$spacing-0;

	@media screen and (min-width: breakpoints.$small-breakpoint) {
		font-size: rem-calc(28);
		letter-spacing: 0.02rem;
		line-height: 1.43;
	}
}

%h4-styles {
	@extend %ontario-header-styles;
	font-size: rem-calc(20);
	letter-spacing: 0.03rem;
	line-height: 1.5;
	margin: spacing.$spacing-0 spacing.$spacing-0 spacing.$spacing-3 spacing.$spacing-0;

	@media screen and (min-width: breakpoints.$small-breakpoint) {
		font-size: rem-calc(24);
		letter-spacing: 0.0313rem;
		line-height: 1.5;
	}
}

%h5-styles {
	@extend %ontario-header-styles;
	font-size: rem-calc(18);
	letter-spacing: 0.03rem;
	line-height: 1.56;
	margin: spacing.$spacing-0 spacing.$spacing-0 spacing.$spacing-3 spacing.$spacing-0;

	@media screen and (min-width: breakpoints.$small-breakpoint) {
		font-size: rem-calc(19);
		letter-spacing: 0.025rem;
		line-height: 1.5;
	}
}

%h6-styles {
	@extend %ontario-header-styles;
	font-size: rem-calc(16);
	line-height: 1.56;
	letter-spacing: 0.03rem;

	margin: spacing.$spacing-0 spacing.$spacing-0 spacing.$spacing-3 spacing.$spacing-0;
	@media screen and (min-width: breakpoints.$small-breakpoint) {
		font-size: rem-calc(16);
		letter-spacing: 0.025rem;
		line-height: 1.5;
	}
}

%lead-statement {
	font-size: rem-calc(20);
	line-height: 1.6;
	max-width: global.$full-width;

	@media screen and (min-width: breakpoints.$small-breakpoint) {
		font-size: rem-calc(22);
	}
}
