@import '../../../../node_modules/@ontario-digital-service/ontario-design-system-design-tokens/dist/scss/variables';

$ontario-z-index-auto: $ontario-z-index-auto; // auto
$ontario-z-index-inherit: $ontario-z-index-inherit; // inherit
$ontario-z-index-initial: $ontario-z-index-initial; // initial
$ontario-z-index-behind-low: $ontario-z-index-behind-low; // -4
$ontario-z-index-behind-medium: $ontario-z-index-behind-medium; // -2
$ontario-z-index-behind-high: $ontario-z-index-behind-high; // -1
$ontario-z-index-neutral: $ontario-z-index-neutral; // 0
$ontario-z-index-above-low: $ontario-z-index-above-low; // 1
$ontario-z-index-above-medium: $ontario-z-index-above-medium; // 2
$ontario-z-index-above-high: $ontario-z-index-above-high; // 4
