@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/global.variables' as globalVariables;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/spacing.variables' as spacing;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/colours.variables' as colours;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/breakpoints.variables' as breakpoints;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/typography.variables' as typography;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/2-tools/functions/global.functions' as globalFunctions;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/font-weights.variables' as fontWeights;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/2-tools/placeholder/focus.placeholders' as
	focusPlaceholders;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/z-index.variables' as zIndex;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/line-heights.variables' as lineHeights;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/6-components/_text-inputs.component.scss';
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/6-components/_header.component.scss';
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/7-overrides/_visibility.overrides.scss';

$ontario-search-padding: 7.2rem;
$ontario-search-padding--mobile: 6.4rem;
$ontario-header-logo-width: 180px;
$ontario-header-logo-width--mobile: 45px;
$ontario-header-custom-breakpoint: 39.9375em;
$ontario-header-menu-button-icon--margin-right: 6px;
$ontario-navigation-container-min-width: 290px;
$ontario-header-z-index: calc(zIndex.$ontario-z-index-above-high + 1);

:host {
	--header-search-reset: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTE5IDYuNEwxNy42IDUgMTIgMTAuNiA2LjQgNSA1IDYuNGw1LjYgNS42TDUgMTcuNiA2LjQgMTlsNS42LTUuNiA1LjYgNS42IDEuNC0xLjQtNS42LTUuNkwxOSA2LjR6IiBmaWxsPSIjMDAwIi8+PC9zdmc+);
}

.ontario-header__container {
	position: relative;
	z-index: $ontario-header-z-index;

	@media screen and (min-width: breakpoints.$medium-breakpoint) {
		z-index: zIndex.$ontario-z-index-above-low;
	}
}

.ontario-header__logo-container {
	height: globalVariables.$ontario-logo-height;

	a {
		display: inline-block;
		width: globalVariables.$full-width;

		&:focus {
			box-shadow: 0 0 0 globalVariables.$global-radius colours.$ontario-colour-focus;
		}
	}

	svg {
		width: $ontario-header-logo-width--mobile;
		height: globalVariables.$ontario-logo-height;

		@media screen and (min-width: breakpoints.$small-breakpoint) {
			width: $ontario-header-logo_width;
		}
	}
}

.ontario-header-button {
	background-color: colours.$ontario-colour-black;
	border: none;
	border-radius: globalVariables.$global-radius;
	color: colours.$ontario-colour-white;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 1.125rem;
	font-weight: fontWeights.$ontario-font-weights-semi-bold;
	font-family: typography.$ontario-font-open-sans;
	height: globalVariables.$standard-input-height;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;

	&:focus {
		@extend %ontario-focus;
	}

	&:hover,
	&:focus,
	&:visited {
		color: colours.$ontario-colour-white;
	}
}

.ontario-navigation {
	@extend %ontario-navigation;

	&--open {
		visibility: visible;
		transform: translateY(0);
		transition: transform 0.4s ease-in-out;
	}
}

.ontario-overlay {
	@extend %ontario-overlay;
}
