@use 'sass:math';
@import '../../global.scss';

$standard-input-height: 48px;
$ontario-logo-height: 46px;

.ontario-row {
	margin: 0 auto;
	max-width: 72rem;
	width: 100%;
}

.ontario-columns {
	padding: 0 $ontario-spacing-4;
}

.ontario-icon-container {
	display: flex;
	align-items: center;
}

.ontario-icon--white {
	display: flex;
	align-items: center;
}

.ontario-application-header-container {
	display: flex;
}

.ontario-application-header {
	display: flex;
	align-items: center;
	background-color: $ontario-colour-black;
	color: $ontario-colour-white;
	height: 3.125rem;
	z-index: 5;
	width: 100%;
}

.ontario-header-button.ontario-application-navigation--open {
	&:hover {
		background-color: $ontario-greyscale-60;
	}
}

.ontario-header-button.ontario-application-navigation--closed {
	&:active {
		background-color: $ontario-colour-black;
	}
}

.ontario-header-button--with-outline {
	border: $border-size-standard solid $ontario-colour-white;
	margin: 0 0 0 $ontario-spacing-4;
	padding: 0.375rem $ontario-spacing-4;
}

.ontario-application-subheader .ontario-header-button,
.ontario-application-navigation .ontario-header-button {
	background-color: $ontario-greyscale-70;
}

.ontario-header-button--closed {
	&:focus {
		box-shadow: none;
		outline: none;
		transition: none;
	}
}

.ontario-application-header__logo,
.ontario-application-header__logo a,
.ontario-application-header__lang-toggle,
.ontario-application-subheader__container,
.ontario-application-subheader__menu-container,
.ontario-application-subheader__menu,
.ontario-application-main-header-container {
	display: flex;
	align-items: center;
	outline: none;
}

.ontario-application-header__logo a {
	&:focus {
		box-shadow: $ontario-focus-box-shadow;
		transition: all 0.1s ease-in-out;
	}
}

.ontario-application-header__logo svg {
	width: 100px;
	height: 25px;
}

.ontario-application-header__lang-toggle {
	justify-content: flex-end;
	a {
		font-size: rem-calc(16);
		line-height: rem-calc(22);
		height: auto;
		outline: none;
		padding: $spacing-2 $spacing-3;
	}
}

.ontario-application-subheader {
	padding: ($spacing-2 + $spacing-3) 0;
	background-color: darken($ontario-colour-white, 75);
	overflow: visible;
	position: relative;
	z-index: 5;

	@media screen and (min-width: $medium-breakpoint) {
		z-index: $ontario-z-index-neutral;
	}

	& > .ontario-row {
		position: relative;
	}
}

.ontario-application-header > .ontario-row {
	display: flex;
	align-items: center;
}

.ontario-application-subheader .ontario-header-button {
	visibility: visible;
}

.ontario-header-button abbr {
	text-decoration: none;
}

.ontario-application-subheader .ontario-header-button,
.ontario-application-navigation .ontario-header-button {
	background-color: $ontario-greyscale-70;
	&:hover {
		background-color: $ontario-greyscale-60;
	}

	&:active {
		background-color: $ontario-colour-black;
	}
}

.ontario-header-button--without-outline {
	&:hover {
		background-color: $ontario-greyscale-70;
	}
	&:focus {
		box-shadow: $ontario-focus-box-shadow;
		outline: 4px solid transparent;
		transition: all 0.1s ease-in-out;
	}
}

.ontario-application-subheader__heading {
	@extend %h4-styles;
	margin-bottom: $spacing-0;
	max-width: 65%;

	a {
		color: $ontario-colour-white;
		font-weight: $ontario-font-weights-semi-bold;
		text-decoration: none;
		outline: none;
		&:focus {
			box-shadow: $ontario-focus-box-shadow;
			transition: all 0.1s ease-in-out;
		}
		&:hover,
		&:active,
		&:visited {
			color: $ontario-colour-white;
			text-decoration: underline;
		}
	}
}

.ontario-application-subheader__container {
	align-items: center;
	justify-content: space-between;
}

.ontario-application-subheader__menu {
	list-style: none;
	margin: $spacing-0;
	padding-left: $spacing-0;
	align-items: center;
}

.ontario-application-subheader__menu li {
	padding: 0;
	margin-left: $spacing-3;
}

.ontario-application-subheader__menu a {
	border-radius: $global-radius;
	color: $ontario-colour-white;
	display: inline;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: rem-calc(18);
	font-weight: $ontario-font-weights-semi-bold;
	height: 48px;
	line-height: rem-calc(23);
	padding: $spacing-3 $spacing-4;
	text-decoration: none;
	white-space: nowrap;
	outline: none;

	&.ontario-link--active {
		border-radius: 4px 4px 0 0;
		border-bottom: 4px solid $ontario-colour-white;
	}

	&:hover {
		background-color: $ontario-greyscale-60;
		color: $ontario-colour-white;
	}

	&:active {
		background-color: $ontario-colour-black;
	}

	&:focus {
		box-shadow: $ontario-focus-box-shadow;
		transition: all 0.1s ease-in-out;
	}
}

.ontario-application-navigation {
	position: absolute;
	width: 100%;

	@media screen and (min-width: $medium-breakpoint) {
		position: relative;
		max-width: 72rem;
		width: auto;
		margin: 0 auto;
	}
}

.ontario-application-navigation .ontario-header-button {
	visibility: hidden;
	position: absolute;
	top: (-$spacing-9 + -$spacing-1);
	right: $spacing-4;
	z-index: 6;
}

.ontario-application-navigation__container {
	background: $ontario-colour-white;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: $ontario-z-index-above-high;

	@media screen and (min-width: $small-breakpoint) {
		background: $ontario-colour-white;
		position: absolute;
		z-index: $ontario-z-index-above-high;
	}

	@media screen and (min-width: $medium-breakpoint) {
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
		border-radius: 4px;
		position: absolute;
		right: $spacing-3;
		top: -0.6rem;
		min-width: 290px;
		max-width: 30%;
		z-index: 3;
		transition: none !important;
	}
}

.nav-ul-closed {
	background: white;
	position: absolute;
	transform: translateY(-100%);
	transition: transform 0.3s ease-in-out, visibility 0.1s ease;
	width: 100%;
	visibility: hidden;
	z-index: 4;
}

.nav-ul-opened {
	visibility: visible;
	transform: translateY(0);
	transition: transform 0.4s ease-in-out;
	@media screen and (min-width: $medium-breakpoint) {
		z-index: 5;
	}
}

.ontario-application-navigation.ontario-navigation--open .ontario-application-navigation__container {
	visibility: visible;
	transform: translateY(0);
	transition: transform 0.4s ease-in-out;
	@media screen and (min-width: $medium-breakpoint) {
		transition: none;
		display: block;
	}
}

.ontario-application-navigation ul {
	list-style: none;
	padding: $spacing-2 $spacing-0;
	margin: $spacing-0;
	border-bottom: 1px solid $ontario-greyscale-20;
	@media screen and (min-width: $medium-breakpoint) {
		border-bottom: none;
	}
}

.ontario-application-navigation li {
	border-top: 1px solid $ontario-greyscale-20;
	padding: $spacing-0;

	&:last-of-type {
		border-bottom: 1px solid $ontario-greyscale-20;
	}
}

.ontario-application-navigation a {
	color: $ontario-colour-black;
	display: block;
	font-size: 1.125rem;
	font-weight: $ontario-font-weights-semi-bold;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
	padding: calc($ontario-spacing-3 - ($ontario-spacing-1 / 3.25)) $ontario-spacing-5;

	&:hover {
		text-decoration: underline;
		background-color: #e5e5e5;
	}

	&:active {
		text-decoration: underline;
		background-color: $ontario-greyscale-20;
	}

	&:focus,
	&:active {
		@extend %ontario-focus;
		box-shadow: $ontario-focus-box-shadow inset;
	}

	&.ontario-link--active {
		border-left: 6px solid $ontario-colour-black;
		background-color: $ontario-greyscale-5;
	}
}

.ontario-overlay {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	z-index: $ontario-z-index-above-medium;
}

.ontario-header-button.ontario-navigation--open {
	&:hover {
		background-color: $ontario-greyscale-60;
	}
	&:active {
		background-color: $ontario-colour-black;
	}
}

.ontario-header-button.ontario-navigation--closed {
	&:active {
		background-color: $ontario-colour-black;
	}
}

/* Header buttons */
.ontario-header-button {
	background-color: $ontario-colour-black;
	border: none;
	border-radius: $global-radius;
	box-sizing: border-box;
	box-shadow: none;
	color: $ontario-colour-white;
	cursor: pointer;

	display: flex;
	align-items: center;

	font-size: 1.125rem;
	font-weight: 600;
	font-family: $ontario-font-open-sans;
	height: $standard-input-height;
	line-height: math.div(14, 9);
	text-align: center;
	text-decoration: none;

	&:focus {
		@extend %ontario-focus;
	}
	&:hover,
	&:focus,
	&:visited {
		color: $ontario-colour-white;
	}
}

.ontario-header-button--with-outline,
.ontario-header-button--without-outline {
	background-color: $ontario-colour-black;
	color: $ontario-colour-white;

	&:hover {
		background-color: $ontario-greyscale-70;
	}
	&:active {
		background-color: $ontario-greyscale-60;
	}
	&:focus {
		background-color: $ontario-greyscale-70;
	}
}

.ontario-header-button--with-outline {
	border: 2px solid $ontario-colour-white;
	margin: $spacing-0 $spacing-0 $spacing-0 $spacing-4;
	padding: math.div($spacing-3, 2) $spacing-4;

	&:hover {
		border: 2px solid $ontario-colour-white;
		color: $ontario-colour-white;
	}

	&:focus {
		background-color: $ontario-greyscale-70;
	}

	@media screen and (max-width: $xsmall-breakpoint) {
		padding: math.div($spacing-3, 2);
	}
}

.ontario-header__menu-toggler {
	padding: math.div($spacing-3, 2) $spacing-4;

	@media screen and (max-width: $xsmall-breakpoint) {
		padding-left: $spacing-2;
		padding-right: $spacing-2;
	}

	span {
		display: flex;

		@media screen and (max-width: $xsmall-breakpoint) {
			display: none;
		}
	}

	svg {
		margin-right: 6px;

		@media screen and (max-width: $xsmall-breakpoint) {
			margin-right: 0;
		}
	}
}
