@import '~@ontario-digital-service/ontario-design-system-global-styles/dist/styles/scss/theme';

.platform-homepage {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.platform-homepage-banner {
	background-color: #367a76;
	background-image: url('ds-supergraphic-element.svg');
	padding: 5rem;
	background-position-x: 55vw;
	background-repeat: no-repeat;
	background-size: 58rem;
	background-position-y: -5rem;
	max-width: 100vw;
}

.platform-homepage-banner::before {
    display:block;
	background-image: url('ds-supergraphic-element.svg');
	right: 0%;
	position: absolute;
	background-position-x: 55vw;
	background-repeat: no-repeat;
	background-size: 58rem;
	background-position-y: -10rem;
    width: 100%;
    overflow: hidden;
    height: 30rem;
	content: '';
	z-index: -1;
}

.platform-homepage-banner--content {
	padding: 1rem;
	color: $ontario-colour-white;
	width: 50%;
}
