@import '~@ontario-digital-service/ontario-design-system-global-styles/dist/styles/scss/theme';

.page-content {
	margin: 2rem 0;
}

.preview-container {
	margin: 1.5rem 0;
}

.example-container {
	padding: rem-calc(24);
	background-color: $ontario-greyscale-5;
}

hr {
	border-bottom: 4px solid #ccc;
    border-top: none;
    border-left: none;

	margin: 2.5rem 0;
}
