@import '~@ontario-digital-service/ontario-design-system-global-styles/dist/styles/scss/theme';

.page-content {
	margin: $spacing-6 $spacing-0;
}

.preview-container {
	margin: $spacing-5 $spacing-0;
}

.example-container {
	padding: $spacing-5;
	background-color: $ontario-greyscale-5;
}
