@use '../../global.scss';

.ontario-hint {
  color: global.$ontario-greyscale-70;
  display: inline-block;
  margin: 0 0 global.$spacing-4 0;
  width: global.$full-width;
  max-width: global.$standard-width;
}
