@import '~@ontario-digital-service/ontario-design-system-global-styles/dist/styles/scss/theme';
p.ontario-lead-statement {
	font-size: 1rem;
	@media screen and (min-width: $small-breakpoint) {
		font-size: 1.2rem;
	}
	@media screen and (min-width: $medium-breakpoint) {
		font-size: 1.375rem;
	}
}

.platform-homepage {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.platform-homepage-banner {
	padding: 3rem;
	background-color: #367a76;
	background-image: url('ds-supergraphic-element.svg');
	background-position-x: 40vw;
	background-repeat: no-repeat;
	background-size: 50rem;
	background-position-y: -5rem;
	margin-bottom: 5rem;
}

.platform-homepage-banner::before {
	background-image: url('ds-supergraphic-element.svg');
	right: 0%;
	position: absolute;
	background-position-x: 40vw;
	background-repeat: no-repeat;
	background-size: 50rem;
	background-position-y: -8rem;
	width: 100%;
	height: 30rem;
	content: '';
	z-index: -1;
}

.platform-homepage-banner--content {
	padding: 1rem;
	color: $ontario-colour-white;
	width: 100%;
	@media screen and (min-width: $small-breakpoint) {
		width: 70%;
	}
	@media screen and (min-width: $medium-breakpoint) {
		width: 45%;
	}
}

hr.dark {
    border-bottom: 4px solid #1a1a1a;

	margin: 2.5rem 0;
}

@mixin ontario-two-column-lists() {
    column-count: 1;
    display: block;

    @media screen and (min-width: $small-breakpoint) {
        column-count: 2;

        li {
            padding: 0;
            margin: 0 $spacing-4 $spacing-4 0;
        }
    }
}

// To be used for markdown
.ontario-lists--two-column-list-md {
    ul {
        @include ontario-two-column-lists;
    }
}

// To be used for general lists
.ontario-lists--two-column-list {
    @include ontario-two-column-lists;
}