@use '~@ontario-digital-service/ontario-design-system-global-styles/dist/styles/scss/theme';
@use '~@ontario-digital-service/ontario-design-system-design-tokens/dist/scss/variables' as designTokenVariables;

$ontario-5rem: 5rem;
$ontario-50rem: 50rem;
$ontario-40-vw: 40vw;

p.ontario-lead-statement {
	font-size: theme.$ontario-font-size-standard-body-text;
	@media screen and (min-width: theme.$small-breakpoint) {
		font-size: 1.2rem;
	}
	@media screen and (min-width: theme.$medium-breakpoint) {
		font-size: 1.375rem;
	}
}

.platform-homepage-banner {
	padding-top: theme.$spacing-8;
	padding-bottom: theme.$spacing-8;
	background-color: #367a76;
	background-image: url('ds-supergraphic-element.svg');
	background-position-x: $ontario-40-vw;
	background-repeat: no-repeat;
	background-size: $ontario-50rem;
	background-position-y: -$ontario-5rem;
	margin-bottom: $ontario-5rem;
}

.platform-homepage-banner::before {
	background-image: url('ds-supergraphic-element.svg');
	right: theme.$spacing-0;
	position: absolute;
	background-position-x: $ontario-40-vw;
	background-repeat: no-repeat;
	background-size: $ontario-50rem;
	background-position-y: -8rem;
	width: designTokenVariables.$ontario-global-tokens-width-max;
	height: 30rem;
	content: '';
	z-index: theme.$ontario-z-index-behind-high;
}

.ontario-banner-font {
	color: theme.$ontario-colour-white;
	width: designTokenVariables.$ontario-global-tokens-width-max;
	@media screen and (min-width: theme.$small-breakpoint) {
		width: 70%;
	}
	@media screen and (min-width: theme.$medium-breakpoint) {
		width: 45%;
	}
}

hr.ontario-hr--dark {
	border-bottom: theme.$spacing-1 solid #1a1a1a;
	margin: 2.5rem theme.$spacing-0;
}

@mixin ontario-two-column-lists() {
	column-count: 1;
	display: block;

	@media screen and (min-width: theme.$small-breakpoint) {
		column-count: 2;

		li {
			padding: theme.$spacing-0;
			margin: theme.$spacing-0 theme.$spacing-4 theme.$spacing-4 theme.$spacing-0;
		}
	}
}

// To be used for markdown
.ontario-lists--two-column-list-md {
	ul {
		@include ontario-two-column-lists;
	}
}

// To be used for general lists
.ontario-lists--two-column-list {
	@include ontario-two-column-lists;
}
