// Use a namespace to avoid leaking theme variables globally.
// This local theme wrapper also sets the asset base path and loads slotted styles.
@use '../../styles/ontario-theme.scss' as theme;

.ontario-callout,
.ontario-aside {
	border-left: theme.$spacing-1 solid theme.$ontario-colour-dark-teal;
	padding: theme.$spacing-5;

	* {
		max-width: theme.$standard-width;

		&:last-child {
			margin-bottom: theme.$spacing-2;
		}
	}
}

.ontario-callout {
	margin: theme.$spacing-6 0 theme.$spacing-7 0;
	background-color: theme.$ontario-greyscale-5;
}

.ontario-aside {
	margin: theme.$spacing-6 0 theme.$spacing-7 theme.$spacing-6;
}

@media screen and (max-width: theme.$small-breakpoint) {
	.ontario-aside {
		margin: theme.$spacing-6 0 theme.$spacing-7 theme.$spacing-4;
	}
}

.ontario-callout__title,
.ontario-aside__title {
	margin-bottom: theme.$spacing-4;
}

// -----------------------------------
//   Callout & Aside border variants
// -----------------------------------
$highlight-colours: (
	'teal': theme.$ontario-colour-dark-teal,
	'gold': theme.$ontario-colour-dark-gold,
	'yellow': theme.$ontario-colour-dark-yellow,
	'taupe': theme.$ontario-colour-dark-taupe,
	'green': theme.$ontario-colour-dark-green,
	'lime': theme.$ontario-colour-dark-lime,
	'sky': theme.$ontario-colour-dark-sky,
	'blue': theme.$ontario-colour-dark-blue,
	'purple': theme.$ontario-colour-dark-purple,
);

@each $color-name, $hex in $highlight-colours {
	.ontario-border-highlight--#{$color-name} {
		border-color: $hex !important;
	}
}
