@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/spacing.variables' as spacing;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/4-elements/_global.elements.scss';

@use '../../styles/fieldsets.scss';
@use '../../styles/labels.scss';
@use '../../styles/text-inputs.scss';
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/7-overrides/_visibility.overrides.scss';

.ontario-fieldset--spacing-40 {
	::slotted(ontario-input:not(:last-child)),
	::slotted(ontario-checkboxes:not(:last-child)),
	::slotted(ontario-dropdown-list:not(:last-child)),
	::slotted(ontario-textarea:not(:last-child)),
	::slotted(ontario-radio-buttons:not(:last-child)),
	::slotted(ontario-button:not(:last-child)),
	::slotted(ontario-date-input:not(:last-child)) {
		margin-bottom: spacing.$spacing-7;
		display: block;
	}
}

.ontario-fieldset--spacing-16 {
	::slotted(ontario-input:not(:last-child)),
	::slotted(ontario-checkboxes:not(:last-child)),
	::slotted(ontario-dropdown-list:not(:last-child)),
	::slotted(ontario-textarea:not(:last-child)),
	::slotted(ontario-radio-buttons:not(:last-child)),
	::slotted(ontario-button:not(:last-child)),
	::slotted(ontario-date-input:not(:last-child)) {
		margin-bottom: spacing.$spacing-4;
		display: block;
	}
}
