@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/spacing.variables' as spacing;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/4-elements/_global.elements.scss';

@use '../../styles/fieldsets.scss';
@use '../../styles/labels.scss';
@use '../../styles/text-inputs.scss';

@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/7-overrides/_visibility.overrides.scss';

/**
 * The following classes define the gap (bottom margin) between slotted form elements.
 * - `40`: For default form layouts
 * - `16`: For condensed form layouts
 *
 * This ensures consistent vertical gap between form elements when they are grouped inside a fieldset.
 */
.ontario-fieldset--gap-40 {
	::slotted(ontario-input:not(:last-child)),
	::slotted(ontario-checkboxes:not(:last-child)),
	::slotted(ontario-dropdown-list:not(:last-child)),
	::slotted(ontario-textarea:not(:last-child)),
	::slotted(ontario-radio-buttons:not(:last-child)),
	::slotted(ontario-button:not(:last-child)),
	::slotted(ontario-date-input:not(:last-child)) {
		margin-bottom: spacing.$spacing-7;
		display: block;
	}
}

.ontario-fieldset--gap-16 {
	::slotted(ontario-input:not(:last-child)),
	::slotted(ontario-checkboxes:not(:last-child)),
	::slotted(ontario-dropdown-list:not(:last-child)),
	::slotted(ontario-textarea:not(:last-child)),
	::slotted(ontario-radio-buttons:not(:last-child)),
	::slotted(ontario-button:not(:last-child)),
	::slotted(ontario-date-input:not(:last-child)) {
		margin-bottom: spacing.$spacing-4;
		display: block;
	}
}
