@use '../../utils/label/label.scss';

@import '../../global.scss';

.ontario-textarea {
	border: 2px solid $ontario-colour-black;
	border-radius: $global-radius;
	box-sizing: border-box;
	color: $ontario-colour-black;
	font-size: 1rem;
	font-family: $ontario-font-open-sans;
	line-height: 1.5;
	display: block;
	max-width: $standard-width;
	min-height: 144px;
	margin: 0 0 $spacing-5;
	padding: 0.625rem $spacing-4;
	transition: box-shadow 0.1s ease-in-out;
	white-space: pre-wrap;
	width: $full-width;

	&:focus,
	&:active {
		@extend %ontario-focus;
	}
}
