@use '../../utils/input-caption/input-caption.scss';
@use '../../global.scss' ;

.ontario-textarea {
	border: global.$border-size-standard solid global.$ontario-colour-black;
	border-radius: global.$global-radius;
	box-sizing: border-box;
	color: global.$ontario-colour-black;
	font-size: 1rem;
	font-family: global.$ontario-font-open-sans;
	line-height: global.$line-height-default;
	display: block;
	max-width: global.$standard-width;
	min-height: 144px;
	margin: 0 0 global.$spacing-7;
	padding: 0.625rem global.$spacing-4;
	transition: global.$ontario-focus-transition;
	white-space: pre-wrap;
	width: global.$full-width;

	&:focus,
	&:active {
		@extend %ontario-focus;
	}
}

.ontario-textarea.ontario-textarea-hint-expander--true {
	margin-bottom: global.$spacing-4;
}
