@use '../../utils/input-caption/input-caption.scss';

@import '../../global.scss';

.ontario-textarea {
	border: $border-size-standard solid $ontario-colour-black;
	border-radius: $global-radius;
	box-sizing: border-box;
	color: $ontario-colour-black;
	font-size: 1rem;
	font-family: $ontario-font-open-sans;
	line-height: $line-height-default;
	display: block;
	max-width: $standard-width;
	min-height: 144px;
	margin: 0 0 $spacing-7;
	padding: 0.625rem $spacing-4;
	transition: $ontario-focus-transition;
	white-space: pre-wrap;
	width: $full-width;

	&:focus,
	&:active {
		@extend %ontario-focus;
	}
}
