// Local theme wrapper for app-nextjs:
// - sets $asset-base-path for hosted assets
// - pulls in slotted styles
@forward 'pkg:@ongov/ontario-design-system-global-styles/styles/scss/theme.scss' with (
	$asset-base-path: '/assets'
);

// Include slotted styles
@use 'pkg:@ongov/ontario-design-system-component-library-react/styles/slotted-styles/callouts-asides.scss';
@use 'pkg:@ongov/ontario-design-system-component-library-react/styles/slotted-styles/page-alerts.scss';
