@use "sass:math";

@import "../../../node_modules/ontario-design-tokens/build/scss/variables";

/*
*  Global variables
*
*  Used across multiple components
*/

/* Rem calc function */
/// Builds a rem-calc function for use in SCSS
///
/// @param {number} $size
///   Rem value size

@function rem-calc($size) {
  $remSize: math.div($size, 16);
  @return #{$remSize}rem;
}

// Radius for rounded corners (for example, buttons)
$global-radius: $ontario-global-tokens-radius;

// This value represents 1 pixel based on a base rem value of 16px
$pixel: $ontario-global-tokens-pixel-value;

// This value represents a large max value
$max-value: $ontario-global-tokens-max-value;
