@use '@ontario-digital-service/ontario-design-system-global-styles/dist/styles/scss/1-variables/colours.variables' as
	colours;
@use '@ontario-digital-service/ontario-design-system-global-styles/dist/styles/scss/1-variables/spacing.variables' as
	spacing;

button {
	background: colours.$ontario-colour-black;
	color: colours.$ontario-colour-white;
	padding: spacing.$spacing-4;
	margin-bottom: spacing.$spacing-4;
	display: block;
}
