@use '../../global.scss';

button {
	background: global.$ontario-colour-black;
	color: global.$ontario-colour-white;
	padding: global.$spacing-4;
	margin-bottom: global.$spacing-4;
	display: block;
}
