@use '../../1-variables/spacing.variables' as spacing;

// Mixin for generating individual vertical form spacing classes
@mixin ontario-vertical-form-spacing($modifier, $spacing-variable) {
	.ontario-vertical-form-spacing--#{$modifier} {
		ontario-input:not(:last-child),
		ontario-checkboxes:not(:last-child),
		ontario-dropdown-list:not(:last-child),
		ontario-textarea:not(:last-child),
		ontario-radio-buttons:not(:last-child),
		ontario-button:not(:last-child),
		ontario-date-input:not(:last-child) {
			margin-bottom: (#{$spacing-variable});
			display: block;
		}
	}
}

// Mixin for generating nested vertical form spacing classes
@mixin ontario-nested-vertical-form-spacing($parent-modifier, $parent-spacing, $child-spacings) {
	.ontario-vertical-form-spacing--#{$parent-modifier} {
		@each $child-spacing in $child-spacings {
			$child-modifier: nth($child-spacing, 1);
			$child-spacing-variable: nth($child-spacing, 2);

			.ontario-vertical-form-spacing--#{$child-modifier} {
				ontario-input:not(:last-child),
				ontario-checkboxes:not(:last-child),
				ontario-dropdown-list:not(:last-child),
				ontario-textarea:not(:last-child),
				ontario-radio-buttons:not(:last-child),
				ontario-button:not(:last-child),
				ontario-date-input:not(:last-child) {
					margin-bottom: (#{$child-spacing-variable});
					display: block;
				}

				// Add extra spacing for the last child
				ontario-input:last-child,
				ontario-checkboxes:last-child,
				ontario-dropdown-list:last-child,
				ontario-textarea:last-child,
				ontario-radio-buttons:last-child,
				ontario-button:last-child,
				ontario-date-input:last-child {
					margin-bottom: calc(#{$child-spacing-variable}) + (#{$parent-spacing});
					display: block;
				}
			}
		}
	}
}

// Vertical spacing definitions
$vertical-spacing-definitions: (16, spacing.$spacing-4), (40, spacing.$spacing-7);

// Generate styles for each vertical spacing
@each $spacing-definition in $vertical-spacing-definitions {
	$spacing-modifier: nth($spacing-definition, 1);
	$spacing-variable: nth($spacing-definition, 2);

	// Generate individual vertical form spacing classes
	@include ontario-vertical-form-spacing($spacing-modifier, $spacing-variable);

	// Generate nested vertical form spacing classes
	$nested-spacings: ();
	@each $nested-spacing in $vertical-spacing-definitions {
		@if $spacing-modifier != nth($nested-spacing, 1) {
			$nested-spacings: append($nested-spacings, $nested-spacing);
		}
	}

	@include ontario-nested-vertical-form-spacing($spacing-modifier, $spacing-variable, $nested-spacings);
}
