
@use '../../1-variables/colours.variables' as colour;
@use '../../2-tools/functions/grid.functions' as gridFunctions;

/**
 * Mixin for ontario-image-example-container
 * Create different type of container headings
 * $type can be header, do, or dont
 */
 @mixin ontario-image-example-container($type: header) {
	@if $type == header {
		@extend %h4-styles;
		color: colour.$ontario-colour-information;
	} @else {
		@extend %h5-styles;
		@if $type == do {
			color: colour.$ontario-colour-success;
		} @else if $type == info {
			color: colour.$ontario-colour-information;
		} @else {
			color: colour.$ontario-colour-alert;
		}
	}
}

/**
 * Mixin for ontario-image-example-container-hr
 * Create ruler based on $colour
 * $colour can be any valid colour
 */
@mixin ontario-image-example-container-hr($colour) {
	border-bottom: 4px solid $colour;
}
