@use '../../1-variables/box-shadow.variables' as boxShadow;

/* -------------------------------
    Focus placeholder variables
--------------------------------- */
$ontario-focus-transition: box-shadow 0.1s ease-in-out;

/* -------------------------------
    Focus placeholder
--------------------------------- */
%ontario-focus {
	box-shadow: boxShadow.$ontario-focus-box-shadow;
	outline: 4px solid transparent;
	transition: $ontario-focus-transition;
}
