name: Build

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: number
      build-artifacts-name:
        required: true
        type: string
      docs-artifacts-name:
        required: true
        type: string
    outputs: # https://docs.github.com/en/actions/using-jobs/defining-outputs-for-jobs
      build-artifacts-name:
        description: 'Name of the artifacts archive of the built libraries'
        value: ${{ inputs.build-artifacts-name }}
      docs-artifacts-name:
        description: 'Name of the artifacts archive of the built docs'
        value: ${{ inputs.docs-artifacts-name }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repo
      - uses: actions/checkout@v4

      # Install pnpm
      - name: Install pnpm
        uses: pnpm/action-setup@v4

      # Setup Node.js
      - name: Use Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      # Install dependencies with lockfile verification
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # Build the project
      - name: Build the project
        run: pnpm run build-libs

      # Upload build artifacts
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.build-artifacts-name }} # Artifact name
          compression-level: 9 # Best compression
          path: | # Collect all package artifacts
            packages/**/*
            !**/node_modules/**/*
            packages/docusaurus/**/*

      # Upload docs artifact
      - name: Upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.docs-artifacts-name }}
          compression-level: 9 # Best compression
          path: packages/docusaurus/docs/
