# Environment Vars: Can't be passed to `with` statements: https://github.com/orgs/community/discussions/26671

name: CI/CD Pipeline

on:
  push:
    branches: ['master', 'alpha', 'beta']
  pull_request: # Trigger on pull request events

jobs:
  test: # Job defined in a separate file (test.yml)
    needs: []
    uses: ./.github/workflows/test.yml
    with:
      node-version: 20

  build: # Job defined in a separate file (build.yml)
    needs: ['test']
    uses: ./.github/workflows/build.yml # Path to the reusable workflow file
    with:
      node-version: 20
      build-artifacts-name: 'build-artifacts'

  # app-docs
  app-docs: # Job defined in a separate file (app-docs.yml)
    needs: ['build']
    uses: ./.github/workflows/app-docs.yml # Path to the reusable workflow file
    with:
      node-version: 20
      build-artifacts-name: ${{ needs.build.outputs.build-artifacts-name }}
    secrets: inherit

  # app-angular (Coming soon)

  publish-packages: # Job defined in a separate file (publish-packages.yml)
    needs: ['build']
    uses: ./.github/workflows/publish-packages.yml # Path to the reusable workflow file
    if: ${{ success() && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/alpha' || github.ref == 'refs/heads/beta') }}
    with:
      node-version: 20
      build-artifacts-name: ${{ needs.build.outputs.build-artifacts-name }}
    secrets: inherit
    permissions:
      contents: write

  clean-up: # Job defined in a separate file (cleanup.yml)
    needs: ['app-docs', 'publish-packages']
    uses: ./.github/workflows/cleanup.yml # Path to the reusable workflow file
    if: ${{ success() && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/alpha' || github.ref == 'refs/heads/beta') }}
    with:
      build-artifacts-docs-name: ${{ needs.app-docs.outputs.build-artifacts-docs-name }}
      tag-version: ${{ needs.app-docs.outputs.new-tag-version }}
