name: Test

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: number

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repo
      - uses: actions/checkout@v4

      # Install pnpm
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.2.0

      # Setup Node.js
      - name: Use Node.js ${{ inputs.node-version }} # Pass this in as a parameter
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # Run unit tests
      - name: Run Unit Tests
        run: pnpm run test:unit

  playwright:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.2.0

      - name: Use Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers in app-nextjs
        run: pnpm --filter app-nextjs exec playwright install --with-deps

      - name: Run All Playwright Tests
        run: pnpm run test:playwright:nextjs

      - name: Upload HTML Report
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

      - name: Upload JUnit results for GitHub integration
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: test-results/playwright/results.xml
