name: Test

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: number
      build-artifacts-name:
        required: true
        type: string

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.build-artifacts-name }} # Artifact name (must match upload name)
          path: ./packages

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Unit Tests
        run: pnpm run test:unit

      - name: Publish Stencil Unit Test Results
        if: ${{ (success() || failure()) }}
        uses: dorny/test-reporter@v1
        with:
          name: Stencil Unit Tests
          path: packages/ontario-design-system-component-library/junit.xml
          reporter: java-junit

  vrt-test:
    runs-on: ubuntu-latest
    needs: unit-test
    permissions:
      contents: read
      actions: read
      checks: write
    steps:
      - uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.build-artifacts-name }}
          path: ./packages

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm --filter app-nextjs exec playwright install --with-deps

      - name: Run All VRT Tests
        run: pnpm run test:vrt

      - name: Upload Next.js VRT Test Results
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: nextjs-vrt-test-results
          path: packages/app-nextjs/test-results

      - name: Upload Next.js VRT JUnit results for GitHub integration
        if: ${{ success() || failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: nextjs-vrt-junit-results
          path: packages/app-nextjs/test-results/playwright/results.xml

      - name: Upload Next.js Playwright HTML report
        if: ${{ success() || failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: nextjs-playwright-html-report-vrt
          path: packages/app-nextjs/playwright-report

      - name: Publish Next.js Playwright VRT Results
        if: ${{ (success() || failure()) && (github.event.pull_request.head.repo.fork == false) }}
        uses: dorny/test-reporter@v1
        with:
          name: Next.js Playwright VRT Tests
          path: packages/app-nextjs/test-results/playwright/results.xml
          reporter: java-junit

  e2e-apps-test:
    runs-on: ubuntu-latest
    needs: unit-test
    permissions:
      contents: read
      actions: read
      checks: write
    steps:
      - uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.build-artifacts-name }}
          path: ./packages

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm --filter app-nextjs exec playwright install --with-deps

      - name: Run All E2E Apps Tests
        run: pnpm run test:e2e:apps

      - name: Upload Next.js E2E Apps Test Results
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: nextjs-e2e-test-results
          path: packages/app-nextjs/test-results

      - name: Upload Next.js E2E Apps JUnit results for GitHub integration
        if: ${{ success() || failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: nextjs-e2e-junit-results
          path: packages/app-nextjs/test-results/playwright/results.xml

      - name: Upload Next.js Playwright HTML report
        if: ${{ success() || failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: nextjs-playwright-html-report-e2e
          path: packages/app-nextjs/playwright-report

      - name: Publish Next.js Playwright Next.js E2E Test Results
        if: ${{ (success() || failure()) && (github.event.pull_request.head.repo.fork == false) }}
        uses: dorny/test-reporter@v1
        with:
          name: Playwright Next.js E2E Tests
          path: packages/app-nextjs/test-results/playwright/results.xml
          reporter: java-junit
